{% extends 'base.html' %}

{% block title %}
    Help - Weather Tracker
{% endblock %}

{% block content %}
    <h1>Help</h1>
    <p>If you need assistance with using the Weather Tracker app, follow these steps:</p>
    <ul>
        <li>To add a city, type the name in the form and click "Add City".</li>
        <li>To remove a city, click the "Delete" button next to the city's information.</li>
        <li>If the city name is not found, an error message will be displayed.</li>
    </ul>
    <p>
        For further help, contact support at 
        <a href="mailto:support@weathertracker.com">support@weathertracker.com</a>.
    </p>
{% endblock %}